@{
    ViewBag.Title = "Projects";
}

<h1>Evaluations for @ViewBag.UserName</h1>
<h3>@ViewBag.ProjectName <small>Due:@ViewBag.ProjectDueDate</small></h3>
@foreach (var evaluation in Model)
{
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            
                <div class="col-lg-8">
                    <p class="lead">Evaluation from @evaluation.SubmittedByName</p>
                </div>
                <div class="col-lg-4">
                    <div class="alert alert-danger">Evaluation has not been submitted.</div>
                </div>
       

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < evaluation.Questions.Count; i++)
                {
                        <tr>
                            <td>@evaluation.Questions[i]</td>
                            @try
                        {
                                <td>@evaluation.Answers[i]</td>
                        }
                        catch
                        {
                            <td></td>
                        }
                        </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}

<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Projects")'">Back</button>