@{
    ViewBag.Title = "Your projects";
}

<div>
    <h1>@ViewBag.Title</h1>
    <p>Click on a team member's name to view their evaluations.</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Project Name
                </th>
                <th>
                    Due Date
                </th>
                <th>
                    Team Members
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink((string)project.Name, "EditProject", "Projects", null)
                    </td>
                    <td>
                        @project.DueDate
                    </td>
                    <td></td>
                    <td><button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("RemoveProject", "Projects", new { projectID = (int)project.ID })'">Delete Project</button></td>
                </tr>
                foreach (var user in project.Users)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td>@Html.ActionLink((string)user.FirstName + " " + (string)user.LastName, "Evaluations", "Projects", new { projectId = (int)project.ID, userId = (string)user.ID, userName = (string)user.FirstName + " " + (string)user.LastName, projectName = project.Name, projectDueDate = project.DueDate }, null)</td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("CreateProject", "Projects")'">New Project</button>
</div>
