@{
    ViewBag.Title = "My Evaluations";
}

<h2>@ViewBag.Title.</h2>
@foreach (var project in Model)
{
    <h3>@project.Name <small>Due: @project.DueDate</small></h3>
    
    foreach (var evaluation in project.Evaluations)
    {
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < evaluation.Questions.Count; i++)
                        {
                            <tr>
                                <td>@evaluation.Questions[i]</td>
                                @try
                                {
                                    <td>@evaluation.Answers[i]</td>
                                }
                                catch
                                {
                                    
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}

<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")'">Back</button>

